@charset "UTF-8";

/* sempre configurar o CSS mantendo a mesma estrutura do HTML. Fica mais facil de organizar */

* { /* configuração geral para resetar todos os elementos */
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh; /* tamanho minimo da altura do corpo vai ser o tamanho da viewport */
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase; -> joga todas as letras para maiuscula */ 
    font-variant: small-caps; /* Letras continuam maiusculas, mas ele destaca as primeiras letras. Fica mais suave. */
}

header > p {
    padding-bottom: 50px;
    
}

header a, footer a { /* dessa forma podemos isolar as configurações de links que ficam dentro do conteúdo */
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {/* configuração que serve para todas as sections ( normal e imagem ) */
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* ganha espaço dentro das sections para criar conteudo ocupar mais espaço e criar o efeito paralax */
    line-height: 2em; /* aumenta o espaço entre as linhas para facilitar a leitura */
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51 ,51);
    color: white;
}

section.imagem > p { /* para a imagem não se confundir com o texto caso coincida a imagem com partes brancas sob as letras brancas */
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}