@charset = "UTF-8";


@font-face {
    font-family: 'Droid';
    src: url(fontes/idroid.otf);
}


.fonte{
    font-family: 'Droid';
    color: rgba(26, 92, 56, 0.844);
}
body{
    background-color: rgb(145, 226, 195);
    margin: 0px
}
header {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(59, 216, 127, 0.752), rgba(26, 92, 56, 0.844));
    height: 110px;
    padding-top: 15px;
}
header > h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin: 0px;
    
}
header > h2{
    color: white;
    font-weight: lighter;
    font-size: 100%;
    text-align: center;

}
header > nav{
    margin-bottom: 0px;
    display: inline;
}
article > h1{
    margin: 10px;
    font-size: 24px;

}
p > a {
    text-decoration: none;
    color:  rgb(52, 147, 93);
    font-weight: bold;

}
nav > a {
    text-decoration: none;
    text-align: left;
    font-size: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}
main{
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    box-shadow: 1px 5px 4px #5ca77ca6;
    text-align: justify;
}
p{
    text-indent: 20px;
}
h2{
    font-size: 18px;
}
footer {
    color: white;
    background-color: rgba(26, 92, 56, 0.844);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    
}
article > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    line-height: 40px;
    display: block;
    text-align: left;
    background-color: rgb(30, 138, 89);
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
}
article > p{
    margin: 0px;
}
h3{
    margin: 0px;
}
article#extra {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(144, 240, 185, 0.752);
    font-size: 12px;
    border-radius: 5px 5px 0px 0px;
    margin: 10px;
    
}
#extra > p{
    padding: 10px;
}
section#final{
    padding: 10px;
}
div > pre{
    margin: 0px;
    height: 140px;
}
div{
    display: inline-block;
    margin-right: 30px;
    height: 140px; 
}
.video{
    background-color: rgb(27, 107, 68);
    height: 300px;
    width: 90%;
    padding: 35px;
  
    
}

