@charset "UTF-8";

/* Typical Device Breakpoints

Pequenas telas: até 600px
Celulares: de 600px até 768px
Tablets: de 768px até 992px
Desktops: de 992px até 1200px
Grandes telas: acima de 1200px

*/
/* Telas pequenas até 768px vai mostrar o menu hamburguer */

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px; /* mantem esse tamanho para telas grandes. Tamanho vai crescendo a medida que a tela cresce até o limite de 90vw. Depois disso fica com 768px */
    }
}