@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Devices Breakpoints -> recomendações do W3C

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px

*/

@media print { /* IMPRESSSÃO */ /* Dá pra criar rodapés para personalizar a impressão. */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessário pois não vamos imprimir o fundo de tela. Apenas os textos */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: "Essa impressão foi feita através do site.....";
        text-decoration: overline;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}

}

/* Para telas pequenas e celular, a configuração já foi feita no arquivo style.css, que é mobile first. Não precisa repetir aqui */

@media screen and (min-width : 768px) and (max-width: 992px) { /* TABLETS */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width : 992px) and (max-width: 1200px) { /* DESKTOPS */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
}

@media screen and (min-width: 1200px)  { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone { display: none;}
    img#tablet { display: bnone;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}