@charset "UTF-8";

/* - cores que serão utilizadas no projeto. vamos criar variaveis para cada uma delas. Podem ser deletadas daqui depois disso
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype'); /* url precisou do ../ porque a fonte está numa pasta acima e precisamos voltar ao nivel da raiz para entrar na pasta fontes */
    font-weight: normal;
}

:root /* pseudo-classe root (raiz da árvore do documento). Todo documento tem. O que se definir aqui, vale para o documento inteiro. Área onde se definem as variáveis globais */{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

/* TODAS AS VARIÁVEIS EM CSS COMEÇAM COM -- . As variáveis podem ter quaisquer nomes*/
}

*{ /* essa configuração global afeta todos os elementos do html */
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px; /* Criando espaço antes do h1 para deixar mais centralizado na vertical */
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    /* tentamos criar espaço sobre o h1 usando o comando margin-top: 30px, mas a margem criada saiu do espaço do cabeçalho. Então vamos criar um padding-top no header */
    font-size: 3em;
    margin-bottom: 20px; /* Criou espaço entre o h1 e o paragrafo */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.195);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.195);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);

}

nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s; /* cria uma animação de 0.5s que o hover faz */
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.499);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{  
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2{
    font-family: var(--fonte-android);
}

main img{
    width: 100%;
}

main img.pequena{
    width: 50%;
    display: block; /* Precisou transformar a imagem num bloco para poder centralizar. Imagem originalmente não é bloco e não centraliza apenas com o margin: auto */
    margin: auto;
}

footer{
    background-color: var(--cor5);
    color: white;

}